In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import env
from pydataset import data

In [2]:
df = data('tips')

In [8]:
df.info()
df.describe().T

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, 1 to 244
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 15.2+ KB

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

H$0_$: there is NO association between smoker and time of day\
H$a_$: there is an association between smoker and time of day

In [12]:
α = .05

In [18]:
observed = pd.crosstab(df.smoker, df.time)

In [14]:
stats.chi2_contingency(observed)

Chi2ContingencyResult(statistic=0.5053733928754354, pvalue=0.4771485672079724, dof=1, expected_freq=array([[108.91803279,  42.08196721],
       [ 67.08196721,  25.91803279]]))

In [15]:
chi2,p,degf,expected = stats.chi2_contingency(observed)

In [16]:
p

0.4771485672079724

In [20]:
if p < α:
    print('we reject our null hypothesis')
else:
    print('we fail to reject our null hypothesis')

we fail to reject our null hypothesis

H0: there is no association between time of day and day of week. features independent\
Ha: there is an association between time of day and day of week. features are not independent

In [21]:
observed = pd.crosstab(df.time,df.day)
observed

day     Fri  Sat  Sun  Thur
time
Dinner   12   87   76     1
Lunch     7    0    0    61

In [25]:
chi2 , p, degf, expected = stats.chi2_contingency(observed)

In [26]:
if p < α:
    print('we reject our null hypothesis')
else:
    print('we fail to reject our null hypothesis')

we reject our null hypothesis

In [27]:
observed = pd.crosstab(df.sex, df.day)

In [28]:
chi2,p,degf,expected = stats.chi2_contingency(observed)
p

0.004180302092822256

In [29]:
mpg = data('mpg')

In [30]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [31]:
mpg['auto_transmission'] = mpg.trans.str.startswith('auto').astype(int)

In [ ]:
α = .05

H0: there is no association between trans and year\
Ha: there is an association between trans and year

In [32]:
observed = pd.crosstab(mpg.year,mpg.auto_transmission)

In [33]:
chi2, p , degf, expected = stats.chi2_contingency(observed)
p

0.2657001056392438

In [34]:
if p < α:
    print('we reject our null')
else:
    print('we fail to reject our null hypothesis')

we fail to reject our null hypothesis